
.container-cars{
    width: 90%;
    height: 90vh;
    margin: 1rem auto;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
}

.comidas-card{
    background: gray;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-evenly;
    width: 200px;
    padding: 1rem;
    border: 1px dotted black;
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.507);
    transition: all .5s;
}

.comidas-card:hover{
    transform: scale(1.05);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.829);
}

.card-img{
    width: 100%;
}

.card-img img{
    width: 100%;
    margin: 0 auto;
}

.nombreComida{
    width: 100%;
    text-align: center;
    font-size: 18px;
    text-transform: capitalize;
    margin: 10px auto;
}

.origenComida{
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    margin: 10px auto;
}

.comidas-card button{
    width: 80%;
    height: 30px;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 5px;
    background: rgb(192, 0, 0);
    color: white;
}
